<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update User</title>
</head>

<body>
  <h1>Update User</h1>
  <p>User Info</p>
  <p>First name: <%= user.firstName %>
  </p>
  <p>Last name: <%= user.lastName %>
  </p>
  <form action="/users/<%= user.id %>/update" method="POST">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" placeholder='First name'>
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" placeholder='Last name'>
    <button type="submit">Submit</button>
  </form>
</body>

</html>